.notifications-list {
  display: grid;
  gap: 0.675rem;
}

.notification {
  display: flex;
  align-items: flex-start;
  gap: clamp(0.8rem, 3.4vw, 1.25rem);
  font-size: clamp(0.875rem, 3.7vw, 1rem);
  font-weight: 300;
  padding: 0.975rem 0.85em 0.975rem 1rem;
}

.notification--unread {
  background-color: var(--clr-grayish-blue-100);
  border-radius: 0.5rem;
}

.notification__unread-dot {
  color: var(--clr-red-500);
  font-size: 1rem;
}

.notification__user-img {
  width: clamp(2.45rem, 5vw, 2.75rem);
  width: 2.8rem;
  aspect-ratio: 1 / 1;
}

.c-notification {
  width: 100%;
}

.c-notification__body {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
}

.notification__body {
  color: var(--clr-grayish-blue-600);
}

.notification__body > * {
  padding-right: 0.5rem;
}

.notification__username {
  color: var(--clr-grayish-blue-900);
  font-weight: 700;
  text-decoration: none;
}

.notification__username:hover {
  color: var(--clr-blue-500);
}

.notification__item-link {
  color: inherit;
  font-weight: 600;
  text-decoration: none;
}

.notification__item-link:hover {
  color: var(--clr-blue-500);
}

.notification__item-img-link {
  grid-row: span 2;
  width: clamp(2.625rem, 11.2vw, 2.9rem);
  aspect-ratio: 1 / 1;
}

.notification__item-img {
  border: 2px solid transparent;
  border-radius: 0.5rem;
  width: 100%;
}

.notification__item-img-link:hover .notification__item-img {
  border-color: var(--clr-grayish-blue-300);
}

.notification__timestamp {
  grid-row-start: 2;
  color: var(--clr-grayish-blue-500);
  margin-top: 0.25rem;
}

.notification__item-msg {
  color: var(--clr-grayish-blue-600);
  border: 1px solid var(--clr-grayish-blue-300);
  border-radius: 0.25rem;
  padding: 1rem;
  margin-top: 0.75rem;
}

@media screen and (min-width: 769px) {
  .notifications-list {
    gap: 0.5rem;
  }

  .notification {
    padding: 1.25rem;
    padding-bottom: 1rem;
  }
}
